.spinner {
  width: 180px;
  height: 180px;
  display: grid;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 21.1px 21.1px;
  background-repeat: no-repeat;
  animation: spinner-3hs4a3 0.6s infinite;
}

.spinner::before {
  --c: radial-gradient(farthest-side, #694e43 92%, #0000);
  margin: 7px;
  background-size: 14.1px 14.1px;
  animation-timing-function: linear;
}

.spinner::after {
  --c: radial-gradient(farthest-side, #694e43 92%, #0000);
}

@keyframes spinner-3hs4a3 {
  100% {
    transform: rotate(0.5turn);
  }
}
